* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

    transition: all 1s ease;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 150vh;
}

a {
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    transition: all 0.3s ease;
}

a:hover {
    color: #000000;
}

.container .propaganda {
    width: 100%;
    height: 40vh;
    background: green;
}

body .container main {
    background-color: #a0a0a0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 140vh;
    width: 80vw;
}

body .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body .container main .noticias{
    border-radius: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 80%;
    height: 30%;
    align-items: center;
    justify-content: center;
    padding: 5%;

    background-repeat: no-repeat;
    background-size: 100% 100%; 

}

body .container main .noticias .setas{
    display: flex;
    flex-direction: row;

    justify-content: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;
}

body .container main .noticias .seta .seta-esquerda{
    margin-left: 10px;
    width: 10%;
    height: 100%;
    background: blue;
}

body .container main .noticias .informacoes{
    position: absolute;
    bottom: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

body .container main .variacoes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1%;
    padding: 1%;

}

body .container main .variacoes .title {
    text-align: left;
}

body .container main .variacoes .grid-item {
    gap: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: #fff;
    border-radius: 12px;
    padding: 5%;
}

body .container main .variacoes .grid-item .card {
    padding: 1rem;
    border-radius: 12px;
    background: #a0a0a0;
    display: grid;
    grid-template-columns: 33% 36% 30%;
}

body .container main .variacoes .grid-item .card .card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body .container main .variacoes .grid-item .card .card-header img {
    width: 70%;
    border-radius: 12px;
}

body .container main .variacoes .grid-item .card .card-body {
    gap: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body .container main .variacoes .grid-item .card .card-body .name {
    gap: 0.5rem;
    font-size: 18px;
    display: flex;
    font-weight: bold;
    flex-direction: row;
    align-items: center;
    margin: 10px 0 0 56px
}

body .container main .variacoes .grid-item .card .card-body .name .company-name {
    white-space: nowrap;
    font-size: 12px;
    font-weight: normal;
}

body .container main .variacoes .grid-item .card .card-body .variation {
    margin: 10px 0 0 0;
    gap: 5%;
    font-size: 10px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

body .container main .variacoes .grid-item .card .card-body .variation .variation-value {
    font-size: 12px;
}

body .container main .variacoes .grid-item .card .card-body .variation .variation-icon {
    width: 25px;

}

body .container main .variacoes .grid-item .card .card-body .variation .variation-icon.variation-icon-down {
    width: 25px;
    filter: invert(22%) sepia(78%) saturate(6849%) hue-rotate(355deg) brightness(100%) contrast(118%);
    transform: rotate(180deg);
}

body .container main .variacoes .grid-item .card .card-body .variation .variation-icon.variation-icon-up {
    width: 25px;
    filter: invert(23%) sepia(71%) saturate(2491%) hue-rotate(100deg) brightness(101%) contrast(105%);
}

body .container main .variacoes .grid-item .card .card-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

body .container main .variacoes .grid-item .card .card-info p {
    white-space: nowrap;
    font-size: 10px;
    font-weight: bold;
}




.row {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.w-100 {
    width: 100% !important;
}

.h-75 {
    height: 75% !important;
}

.h-100 {
    height: 100% !important;
}

.h-50 {
    height: 50% !important;
}


body .container main .variacoes .column .alertaScroll .tituloAlerta{
    font-size: 1em;
}
body .container main .variacoes .column .alertaScroll .textoalerta{
    font-size: 0.5em;
}
